@import url(https://fonts.googleapis.com/css?family=Righteous);
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  display: inline-block;
  color: white;
  font-family: "Righteous", serif;
  text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}

h1:after {
  content: attr(data-shadow);
  position: absolute;
  top: 0.06em;
  left: 0.06em;
  z-index: -1;
  text-shadow: none;
}

.no-column {
  background: linear-gradient(
    0deg,
    rgba(41, 41, 47, 1) 0%,
    rgba(152, 152, 152, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
